<h1>Profile</h1>


<h3> Welcome {{theUser.username}} </h3>



{{#if theUser.profileOwner}}

<h3>Your Profile</h3>

{{else}}

<h3>{{profileInfo.username}}'s Profile</h3>

{{/if}}



<ul>
    {{#each allRecipes}}
    {{#if this.recipeChosen}}
    <li>
        <a>{{this.title}}</a>
    </li>
    {{/if}}
    {{/each}}
</ul>










{{#if theUser.profileOwner}}

<form action='/profile/edit' method='GET'>
    <button type='submit'>Edit profile</button>
</form>


{{/if}} 













{{!-- page for users to delete their own account --}}

{{!-- <h1>Profile Page</h1>
<h3>{{theUser.username}}</h3>
<form action="account/delete-my-account" method="POST">
<button type='submit'> Delete </button>
</form> --}}

