<div class='profile-wrapper'>

    <div class="card" style="width: 24rem;">

        {{#if theUser.profileOwner}}

        <h3>Welcome {{theUser.username}}</h3>
        <img src="{{theUser.profileImage}}" class="card-img-top" alt="profile picture">

        <form action="/user/{{theUser._id}}" method="POST" enctype='multipart/form-data'>
            <input type="file" name="the-image-input-name">
            <button>Upload</button>
        </form>

        <div class="card-body">
            <h5 class="card-title">{{profileInfo.username}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/recipes/recommended" class="btn btn-primary">See your recommended recipes</a>
        </div>

        {{else}}

        <h3>{{profileInfo.username}}'s Profile</h3>
        <img src="{{theUser.profileImage}}" class="card-img-top" alt="profile picture">

        <div class="card-body">
            <h5 class="card-title">{{profileInfo.username}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/recipes/recommended" class="btn btn-primary">See your recommended recipes</a>
        </div>

        {{/if}}

        {{!-- <p>Profile Picture</p>--}}

    </div>

    {{!-- User's created Recipes  --}}
    <div>
        <p> My recipes </p>
            {{#each allRecipes}}
            {{#if this.recipeChosen}}
                <a href="/recipes/details/{{this._id}}">{{this.title}}</a>
            {{/if}}
            {{/each}}
    </div>

</div>

{{!-- {{#if theUser.profileOwner}}
    <form action='/profile/edit' method='GET'>
        <button type='submit'>Edit profile</button>
    </form>
{{/if}}  --}}


{{!-- page for users to delete their own account --}}

{{!-- <h1>Profile Page</h1>
<h3>{{theUser.username}}</h3>
<form action="account/delete-my-account" method="POST">
<button type='submit'> Delete </button>
</form> --}}