<div class='profile-wrapper'>

    <div class="profile-card">

        {{#if theUser.profileOwner}}
            <div class='image-div'>
                <h3>Your Profile</h3>
                {{#if theUser.profileImage}}

                    <img src="{{theUser.profileImage}}" class="" alt="profile picture">
                {{else}}
                    <img src="/images/person-icon-6.png" class="" alt="profile picture">
                {{/if}}

                <form action="/user/{{theUser._id}}" method="POST" enctype='multipart/form-data'>
                    <input type="file" name="the-image-input-name">
                    <button>Upload</button>
                </form>
            </div>
            

            <div class="profile-info">
                <h5>Experience level: {{profileInfo.experience}}</h5>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/recipes/recommended" class="">See your recommended recipes</a>
            </div>

        {{else}}

            <div class='image-div'>
            <h3>{{profileInfo.username}}'s Profile</h3>
                 <img src="{{theUser.profileImage}}" class="" alt="profile picture">
            </div>
           

            <div class="profile-info">
                <h5 class="">{{profileInfo.username}}</h5>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        {{/if}}

        {{!-- <p>Profile Picture</p>--}}

    </div>

    {{!-- User's created Recipes  --}}
    <div>
        <p> My recipes </p>
            {{#each allRecipes}}
            {{#if this.recipeChosen}}
                <a href="/recipes/details/{{this._id}}">{{this.title}}</a>
            {{/if}}
            {{/each}}
    </div>

</div>

{{!-- {{#if theUser.profileOwner}}
    <form action='/profile/edit' method='GET'>
        <button type='submit'>Edit profile</button>
    </form>
{{/if}}  --}}


{{!-- page for users to delete their own account --}}

{{!-- <h1>Profile Page</h1>
<h3>{{theUser.username}}</h3>
<form action="account/delete-my-account" method="POST">
<button type='submit'> Delete </button>
</form> --}}