<h1> Recipe Details</h1>


<h2>{{recipe.name}}</h2>

<p>{{recipe.author}}</p>

{{!-- {{recipe.image}} --}}

<p>{{recipe.description}}</p>

<p>{{recipe.duration}}</p>

<p>{{recipe.comments}}</p>

{{#each recipe.comments}}

{{#if commentChosen}}


{{/each}}