<h1> {{recipe.title}} Details</h1>

{{#each users}}

{{#if chosen}}
<p>{{this.username}}</p>
{{/if}}

{{/each}}

<div class='recipe-card'>
    <div class='recipe-text'>
        <h4> {{recipe.title}}</h4>

        <h6>Total Cook Time</h6>
        <p>{{recipe.duration}} minutes</p>

        <h6>Instructions</h6>
        <p> {{recipe.instructions}} </p>
    </div>

    <img src="{{recipe.image}}" alt="food image">
</div>


{{!-- {{#each comments}}

{{#if commentChosen}}
<p>{{this.author}}</p>
{{/if}}

{{/each}} --}}