<h1> Update Recipe </h1>

<form action="/recipes/update/{{recipe._id}}" method='POST'>

    <div>
        <p>Edit Name</p>
        <input type="text" name='theName' value="{{recipe.title}}">


        <p>Edit Duration</p>
        <input type="text" name='theDuration' value="{{recipe.duration}}">


        <p>Edit Instructions</p>
        <input type="text" name='theInstructions' value='{{recipe.instructions}}'>


        {{!-- file upload added here --}}
        <p>Edit Image</p>
        <input type="text" name='theImage' value='{{recipe.image}}'>
    </div>

    <button type='submit'> Save </button>

</form>