<h1> Update Recipe </h1>

<form action="/recipes/update/{{recipe._id}}" method='POST'>

    <div>
        <label for="titleInput">Edit Title:</label>
        <input id='titleInput' type="text" name='theTitle' value="{{recipe.title}}">


        <label for="durationInput">Edit Duration:</label>
        <input id='durationInput' type="text" name='theDuration' value="{{recipe.duration}}">


        <div>
            <label for='difficultyInput'>Edit Difficulty:</label>
            <select id='difficultyInput' name='theDifficulty'>
                <option value='unspecfied'> -- Please select difficulty level -- </option>
                <option value='Easy'>Easy</option>
                <option value='Hard'>Hard</option>
            </select>
        </div>

        <p style='display:none' id='recipe-id'>{{recipe._id}}</p>

        {{!-- <div>
            <label for="theInstructions">Edit Instructions</label>
            {{#each recipe.instructions}}
            <div id="cookingSteps">
                <p class="cookingStepsInput"> Step: {{@index}}<input name='instructionInput' id='theInstructions' type='text'></p>
            </div>
            <button class='deleteBtn'>Delete this step</button>
            {{/each}}

            <button id="addStepButton" type='button' name='add-step'>Add a step</button>

        </div> --}}




        <p>Edit Instructions</p>
        <input type="text" name='theInstructions' value='{{recipe.instructions}}'>


        {{!-- file upload added here --}}
        <p>Edit Image</p>
        <input type="text" name='theImage' value='{{recipe.image}}'>
    </div>

    <button type='submit'> Save </button>

</form>